.cartImg {
    max-width: 25%;
    height: auto;
}

div button {
    text-decoration: none;
  background-color: #D3D3D3;
  border: #D3D3D3 solid 2px;
  border-radius: 2px;
  color:black;
  text-align: center;
  size: 1rem;
  
  
}